# Chapter 11: Working with dates and times

## 11.1 Introducing the Timestamp object

### 11.1.1 How Python works with datetimes

In [1]:
import datetime as dt
import pandas as pd

In [2]:
# The two lines below are equivalent
birthday = dt.date(1991, 4, 12)
birthday = dt.date(year=1991, month=4, day=12)
birthday

datetime.date(1991, 4, 12)

In [3]:
birthday.year

1991

In [4]:
birthday.month

4

In [5]:
birthday.day

12

In [6]:
# a date object is immutable
# birthday.month = 10 # AttributeError

In [7]:
# The two lines below are equivalent
alarm_clock = dt.time(6, 43, 25)
alarm_clock = dt.time(hour=6, minute=43, second=25)
alarm_clock

datetime.time(6, 43, 25)

In [8]:
dt.time() # midnight: 0 hours, 0 minutes, and 0 seconds

datetime.time(0, 0)

In [9]:
dt.time(hour=9, second=42) # 9:00:42 a.m

datetime.time(9, 0, 42)

In [10]:
# The time constructor uses a 24-hour clock
dt.time(hour=19, minute=43, second=22)

datetime.time(19, 43, 22)

In [11]:
alarm_clock.hour

6

In [12]:
alarm_clock.minute

43

In [13]:
alarm_clock.second

25

In [14]:
# The two lines below are equivalent
moon_landing = dt.datetime(1969, 7, 20, 22, 56, 20)
moon_landing = dt.datetime(
    year=1969,
    month=7,
    day=20,
    hour=22,
    minute=56,
    second=20
)
moon_landing

datetime.datetime(1969, 7, 20, 22, 56, 20)

In [15]:
# The year, month, and day parameters are required.
dt.datetime(2020, 1, 1)

datetime.datetime(2020, 1, 1, 0, 0)

In [16]:
dt.timedelta(
    weeks=8,
    days=6,
    hours=3,
    minutes=58,
    seconds=12
)

datetime.timedelta(days=62, seconds=14292)

### 11.1.2 How pandas works with datetimes

In [17]:
# The two lines below are equivalent
pd.Timestamp(1991, 4, 12)
pd.Timestamp(year=1991, month=4, day=12)

Timestamp('1991-04-12 00:00:00')

In [18]:
(pd.Timestamp(year=1991, month=4, day=12)
     == dt.datetime(year=1991, month=4, day=12))

True

In [19]:
(pd.Timestamp(year=1991, month=4, day=12, minute=2)
    == dt.datetime(year=1991, month=4, day=12, minute=1))

False

In [20]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [21]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp("03/31/2015")

Timestamp('2015-03-31 00:00:00')

In [23]:
# include the time in a variety of written formats:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [24]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [25]:
# the Timestamp constructor accepts Python's native date, time and datetime objects:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

In [26]:
my_time = pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))
print(my_time.year)
print(my_time.month)
print(my_time.day)
print(my_time.hour)
print(my_time.minute)
print(my_time.second)

2000
2
3
21
35
22

## 11.2 Storing multiple timestamps in a DatetimeIndex

In [27]:
pd.Series([1, 2, 3]).index

RangeIndex(start=0, stop=3, step=1)

In [28]:
pd.Series([1, 2, 3], index=['A', 'B', 'C']).index

Index(['A', 'B', 'C'], dtype='object')

In [29]:
timestamps = [
    pd.Timestamp("2020-01-01"),
    pd.Timestamp("2020-02-01"),
    pd.Timestamp("2020-03-01"),
]

pd.Series([1, 2, 3], index=timestamps).index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01'], dtype='datetime64[ns]', freq=None)

In [30]:
datetimes = [
    dt.datetime(2020, 1, 1),
    dt.datetime(2020, 2, 1),
    dt.datetime(2020, 3, 1),
]

pd.Series([1, 2, 3], index=datetimes).index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01'], dtype='datetime64[ns]', freq=None)

In [31]:
# create a DatetimeIndex from scratch
string_dates = ["2018/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(data=string_dates)

DatetimeIndex(['2018-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [32]:
mixed_dates = [
    dt.date(2018, 1, 2),
    "2016/04/12",
    pd.Timestamp(2009, 9, 7)
]

dt_index = pd.DatetimeIndex(mixed_dates)
dt_index

DatetimeIndex(['2018-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [33]:
s = pd.Series(data=[100, 200, 300],  index=dt_index)
s

2018-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

In [34]:
s.sort_index()

2009-09-07    300
2016-04-12    200
2018-01-02    100
dtype: int64

In [35]:
morning = pd.Timestamp("2020-01-01 11:22:22 AM")
evening = pd.Timestamp("2020-01-01 11:22:22 PM")

morning < evening

True

## 11.3 Converting coolumn or index values to datetimes

In [36]:
disney = pd.read_csv("data/ch11/disney.csv")
disney.head()

         Date      High       Low      Open     Close
0  1962-01-02  0.096026  0.092908  0.092908  0.092908
1  1962-01-03  0.094467  0.092908  0.092908  0.094155
2  1962-01-04  0.094467  0.093532  0.094155  0.094155
3  1962-01-05  0.094779  0.093844  0.094155  0.094467
4  1962-01-08  0.095714  0.092285  0.094467  0.094155

In [37]:
disney.dtypes

Date      object
High     float64
Low      float64
Open     float64
Close    float64
dtype: object

In [38]:
disney = pd.read_csv("data/ch11/disney.csv", parse_dates=["Date"])

In [39]:
string_dates = ["2015-01-01", "2016-02-02", "2017-03-03"]
dt_index = pd.to_datetime(string_dates)
dt_index

DatetimeIndex(['2015-01-01', '2016-02-02', '2017-03-03'], dtype='datetime64[ns]', freq=None)

In [40]:
pd.to_datetime(disney["Date"]).head()

0   1962-01-02
1   1962-01-03
2   1962-01-04
3   1962-01-05
4   1962-01-08
Name: Date, dtype: datetime64[ns]

In [41]:
disney["Date"] = pd.to_datetime(disney["Date"])

In [42]:
disney.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object