# Chapter 11: Working with dates and times

## 11.1 Introducing the Timestamp object

### 11.1.1 How Python works with datetimes

In [1]:
import datetime as dt
import pandas as pd

In [2]:
# The two lines below are equivalent
birthday = dt.date(1991, 4, 12)
birthday = dt.date(year=1991, month=4, day=12)
birthday

datetime.date(1991, 4, 12)

In [3]:
birthday.year

1991

In [4]:
birthday.month

4

In [5]:
birthday.day

12

In [6]:
# a date object is immutable
# birthday.month = 10 # AttributeError

In [7]:
# The two lines below are equivalent
alarm_clock = dt.time(6, 43, 25)
alarm_clock = dt.time(hour=6, minute=43, second=25)
alarm_clock

datetime.time(6, 43, 25)

In [8]:
dt.time() # midnight: 0 hours, 0 minutes, and 0 seconds

datetime.time(0, 0)

In [9]:
dt.time(hour=9, second=42) # 9:00:42 a.m

datetime.time(9, 0, 42)

In [10]:
# The time constructor uses a 24-hour clock
dt.time(hour=19, minute=43, second=22)

datetime.time(19, 43, 22)

In [11]:
alarm_clock.hour

6

In [12]:
alarm_clock.minute

43

In [13]:
alarm_clock.second

25

In [14]:
# The two lines below are equivalent
moon_landing = dt.datetime(1969, 7, 20, 22, 56, 20)
moon_landing = dt.datetime(
    year=1969,
    month=7,
    day=20,
    hour=22,
    minute=56,
    second=20
)
moon_landing

datetime.datetime(1969, 7, 20, 22, 56, 20)

In [15]:
# The year, month, and day parameters are required.
dt.datetime(2020, 1, 1)

datetime.datetime(2020, 1, 1, 0, 0)

In [16]:
dt.timedelta(
    weeks=8,
    days=6,
    hours=3,
    minutes=58,
    seconds=12
)

datetime.timedelta(days=62, seconds=14292)

### 11.1.2 How pandas works with datetimes

In [17]:
# The two lines below are equivalent
pd.Timestamp(1991, 4, 12)
pd.Timestamp(year=1991, month=4, day=12)

Timestamp('1991-04-12 00:00:00')

In [18]:
(pd.Timestamp(year=1991, month=4, day=12)
     == dt.datetime(year=1991, month=4, day=12))

True

In [19]:
(pd.Timestamp(year=1991, month=4, day=12, minute=2)
    == dt.datetime(year=1991, month=4, day=12, minute=1))

False

In [20]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [21]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp("03/31/2015")

Timestamp('2015-03-31 00:00:00')

In [23]:
# include the time in a variety of written formats:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [24]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [25]:
# the Timestamp constructor accepts Python's native date, time and datetime objects:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

In [26]:
my_time = pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))
print(my_time.year)
print(my_time.month)
print(my_time.day)
print(my_time.hour)
print(my_time.minute)
print(my_time.second)

2000
2
3
21
35
22

## 11.2 Storing multiple timestamps in a DatetimeIndex

In [27]:
pd.Series([1, 2, 3]).index

RangeIndex(start=0, stop=3, step=1)

In [28]:
pd.Series([1, 2, 3], index=['A', 'B', 'C']).index

Index(['A', 'B', 'C'], dtype='object')

In [29]:
timestamps = [
    pd.Timestamp("2020-01-01"),
    pd.Timestamp("2020-02-01"),
    pd.Timestamp("2020-03-01"),
]

pd.Series([1, 2, 3], index=timestamps).index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01'], dtype='datetime64[ns]', freq=None)

In [30]:
datetimes = [
    dt.datetime(2020, 1, 1),
    dt.datetime(2020, 2, 1),
    dt.datetime(2020, 3, 1),
]

pd.Series([1, 2, 3], index=datetimes).index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01'], dtype='datetime64[ns]', freq=None)

In [31]:
# create a DatetimeIndex from scratch
string_dates = ["2018/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(data=string_dates)

DatetimeIndex(['2018-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [32]:
mixed_dates = [
    dt.date(2018, 1, 2),
    "2016/04/12",
    pd.Timestamp(2009, 9, 7)
]

dt_index = pd.DatetimeIndex(mixed_dates)
dt_index

DatetimeIndex(['2018-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [33]:
s = pd.Series(data=[100, 200, 300],  index=dt_index)
s

2018-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

In [34]:
s.sort_index()

2009-09-07    300
2016-04-12    200
2018-01-02    100
dtype: int64

In [35]:
morning = pd.Timestamp("2020-01-01 11:22:22 AM")
evening = pd.Timestamp("2020-01-01 11:22:22 PM")

morning < evening

True

## 11.3 Converting coolumn or index values to datetimes

In [36]:
disney = pd.read_csv("data/ch11/disney.csv")
disney.head()

         Date      High       Low      Open     Close
0  1962-01-02  0.096026  0.092908  0.092908  0.092908
1  1962-01-03  0.094467  0.092908  0.092908  0.094155
2  1962-01-04  0.094467  0.093532  0.094155  0.094155
3  1962-01-05  0.094779  0.093844  0.094155  0.094467
4  1962-01-08  0.095714  0.092285  0.094467  0.094155

In [37]:
disney.dtypes

Date      object
High     float64
Low      float64
Open     float64
Close    float64
dtype: object

In [38]:
disney = pd.read_csv("data/ch11/disney.csv", parse_dates=["Date"])

In [39]:
string_dates = ["2015-01-01", "2016-02-02", "2017-03-03"]
dt_index = pd.to_datetime(string_dates)
dt_index

DatetimeIndex(['2015-01-01', '2016-02-02', '2017-03-03'], dtype='datetime64[ns]', freq=None)

In [40]:
pd.to_datetime(disney["Date"]).head()

0   1962-01-02
1   1962-01-03
2   1962-01-04
3   1962-01-05
4   1962-01-08
Name: Date, dtype: datetime64[ns]

In [41]:
disney["Date"] = pd.to_datetime(disney["Date"])

In [42]:
disney.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object

## 11.4 Using the DatetimeProperties object

In [43]:
disney["Date"].dt

In [44]:
disney["Date"].head(3)

0   1962-01-02
1   1962-01-03
2   1962-01-04
Name: Date, dtype: datetime64[ns]

In [45]:
disney["Date"].dt.day.head(3)

0    2
1    3
2    4
Name: Date, dtype: int32

In [46]:
disney["Date"].dt.month.head(3)

0    1
1    1
2    1
Name: Date, dtype: int32

In [47]:
disney["Date"].dt.year.head(3)

0    1962
1    1962
2    1962
Name: Date, dtype: int32

In [48]:
disney["Date"].dt.dayofweek.head()

0    1
1    2
2    3
3    4
4    0
Name: Date, dtype: int32

In [49]:
disney["Date"].dt.day_name().head()

0      Tuesday
1    Wednesday
2     Thursday
3       Friday
4       Monday
Name: Date, dtype: object

In [50]:
disney["Day of Week"] = disney["Date"].dt.day_name()

In [51]:
group = disney.groupby("Day of Week")

In [52]:
group.mean(numeric_only=True)

                  High        Low       Open      Close
Day of Week
Friday       23.767304  23.318898  23.552872  23.554498
Monday       23.377271  22.930606  23.161392  23.162543
Thursday     23.770234  23.288687  23.534561  23.540359
Tuesday      23.791234  23.335267  23.571755  23.562907
Wednesday    23.842743  23.355419  23.605618  23.609873

In [53]:
disney["Date"].dt.month_name().head()

0    January
1    January
2    January
3    January
4    January
Name: Date, dtype: object

In [54]:
disney["Date"].dt.is_quarter_start.tail()

14722    False
14723    False
14724    False
14725     True
14726    False
Name: Date, dtype: bool

In [55]:
disney[disney["Date"].dt.is_quarter_start].head()

          Date      High       Low      Open     Close Day of Week
189 1962-10-01  0.064849  0.062355  0.063913  0.062355      Monday
314 1963-04-01  0.087989  0.086704  0.087025  0.086704      Monday
377 1963-07-01  0.096338  0.095053  0.096338  0.095696      Monday
441 1963-10-01  0.110467  0.107898  0.107898  0.110467     Tuesday
565 1964-04-01  0.116248  0.112394  0.112394  0.116248   Wednesday

In [56]:
disney[disney["Date"].dt.is_quarter_end].head()

          Date      High       Low      Open     Close Day of Week
251 1962-12-31  0.074501  0.071290  0.074501  0.072253      Monday
440 1963-09-30  0.109825  0.105972  0.108541  0.107577      Monday
502 1963-12-31  0.101476  0.096980  0.097622  0.101476     Tuesday
564 1964-03-31  0.115605  0.112394  0.114963  0.112394     Tuesday
628 1964-06-30  0.101476  0.100191  0.101476  0.100834     Tuesday

In [57]:
disney[disney["Date"].dt.is_month_start].head()

          Date      High       Low      Open     Close Day of Week
22  1962-02-01  0.096338  0.093532  0.093532  0.094779    Thursday
41  1962-03-01  0.095714  0.093532  0.093532  0.095714    Thursday
83  1962-05-01  0.087296  0.085426  0.085738  0.086673     Tuesday
105 1962-06-01  0.079814  0.077943  0.079814  0.079814      Friday
147 1962-08-01  0.068590  0.068278  0.068590  0.068590   Wednesday

In [58]:
disney[disney["Date"].dt.is_month_end].head()

          Date      High       Low      Open     Close Day of Week
21  1962-01-31  0.093844  0.092908  0.093532  0.093532   Wednesday
40  1962-02-28  0.094779  0.093220  0.094155  0.093220   Wednesday
82  1962-04-30  0.087608  0.085738  0.087608  0.085738      Monday
104 1962-05-31  0.082308  0.079814  0.079814  0.079814    Thursday
146 1962-07-31  0.069214  0.068278  0.068278  0.068590     Tuesday

In [59]:
disney[disney["Date"].dt.is_year_start].head()

Empty DataFrame
Columns: [Date, High, Low, Open, Close, Day of Week]
Index: []

In [60]:
disney[disney["Date"].dt.is_year_end].head()

           Date      High       Low      Open     Close Day of Week
251  1962-12-31  0.074501  0.071290  0.074501  0.072253      Monday
502  1963-12-31  0.101476  0.096980  0.097622  0.101476     Tuesday
755  1964-12-31  0.117853  0.116890  0.116890  0.116890    Thursday
1007 1965-12-31  0.154141  0.150929  0.153498  0.152214      Friday
1736 1968-12-31  0.439301  0.431594  0.434163  0.436732     Tuesday