# Chapter 13: Configuring pandas

## 13.1 Getting and setting pandas options

In [1]:
import pandas as pd

In [2]:
happiness = pd.read_csv("data/ch13/happiness.csv")
happiness.head()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
3,Iceland,7.494,1.380,1.624,1.026,0.354
4,Netherlands,7.488,1.396,1.522,0.999,0.322

In [3]:
pd.describe_option("display.max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [4]:
# Pandas will print all library options that match the string argument.
pd.describe_option("max_col")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]

In [5]:
# get a setting's current value
# The two lines below are equivalent
pd.get_option("display.max_rows")
pd.options.display.max_rows

60

In [6]:
# set a new value for a configuration setting
# The two lines below are equivalent
pd.set_option("display.max_rows", 6)
pd.options.display.max_rows = 6

In [7]:
pd.options.display.max_rows

6

In [8]:
happiness.head(6)

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
3,Iceland,7.494,1.380,1.624,1.026,0.354
4,Netherlands,7.488,1.396,1.522,0.999,0.322
5,Switzerland,7.480,1.452,1.526,1.052,0.263

In [9]:
happiness.head(7)

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
...,...,...,...,...,...,...
4,Netherlands,7.488,1.396,1.522,0.999,0.322
5,Switzerland,7.480,1.452,1.526,1.052,0.263
6,Sweden,7.343,1.387,1.487,1.009,0.267

In [10]:
# The two lines below are equivalent
pd.get_option("display.max_columns")
pd.options.display.max_columns

20

In [11]:
# The two lines below are equivalent
pd.set_option("display.max_columns", 2)
pd.options.display.max_columns = 2

In [12]:
happiness.head(7)

        Country  ...  Generosity
0       Finland  ...       0.153
1       Denmark  ...       0.252
2        Norway  ...       0.271
..          ...  ...         ...
4   Netherlands  ...       0.322
5   Switzerland  ...       0.263
6        Sweden  ...       0.267

[7 rows x 6 columns]

In [13]:
# The two lines below are equivalent
pd.set_option("display.max_columns", 5)
pd.options.display.max_columns = 5

In [14]:
happiness.head(7)

        Country  Score  ...  Life expectancy  Generosity
0       Finland  7.769  ...            0.986       0.153
1       Denmark  7.600  ...            0.996       0.252
2        Norway  7.554  ...            1.028       0.271
..          ...    ...  ...              ...         ...
4   Netherlands  7.488  ...            0.999       0.322
5   Switzerland  7.480  ...            1.052       0.263
6        Sweden  7.343  ...            1.009       0.267

[7 rows x 6 columns]

In [15]:
# return a setting to its original value:
pd.reset_option("display.max_rows")

In [16]:
pd.get_option("display.max_rows")

60